@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
.hero_subtitle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.heading1 {
    margin-top: 65px;
    text-align: center;
    padding: 1.5rem 0;
}

.heading1 span {
    font-size: 2.5rem;
    background: #C85C8E;
    margin: 0.2rem 0.2rem 0 0;
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.hero_content .hero_subtitle .heading1 span {
    font-size: 2.5rem;
    background: #C85C8E;
    margin-left: 0.2rem;
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
}

.heading3 {
    margin-top: 65px;
    text-align: center;
    padding: 1.5rem 0;
}

.heading3 span {
    font-size: 2.5rem;
    background: #C85C8E;
    margin: 0.2rem 0.2rem 0 0;
    font-family: 'Signika Negative', sans-serif;
    color: #fff;
    border-radius: .5rem;
    padding: .2rem 1rem;
}


.hero_subtitle img {
    width: 2.3rem;
    margin-left: 5px;
    height: 2.3rem;
    margin-bottom: 10px;
}

.hero_content h1 {
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    text-align: center;
    margin-bottom: 2rem;
    color: var(--heading-color);
    font-family: 'Alkatra', cursive;
}

.hero_content h1 .highlight {
    color: var(--secondary-color);
}

.hero_content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero_img-box img,
.hero_img-box video {
    width: 100%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
}

.hero_content {
    padding-top: 3.5rem;
}

.hero_content p {
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.3rem;
    color: #7B2869;

}

.hero_img-box {
    padding-top: 2rem;
}

.services_subtitle {
    font-size: 2.2rem;
    font-weight: 500;
    color: #ee6e6e;
    font-family: var(--subtitle-font-name);
}

.services_title {
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Alkatra', cursive;
}

.featured_tour-title {
    font-size: 2.3rem;
    font-weight: 500;
    font-family: 'Alkatra', cursive;
}

.experience_content h2 {
    font-size: 2.5rem;
    margin-top: 1rem;
    font-weight: 500;
    font-family: 'Alkatra', cursive;
}

.experience_content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter_wrapper {
    margin-top: 2.5rem;
}

.counter_box span {
    width: 70px;
    height: 70px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    font-size: 1.6rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter_box h6 {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience_img img {
    width: 90%;
}

.gallery_title {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
    font-family: 'Alkatra', cursive;
}

.masonry_img {
    transition: .3s;
}

.masonry_img:hover {
    transform: scale(1.1);
}

.testimonial_title {
    font-size: 2.3rem;
    margin-top: 1rem;
    font-family: 'Alkatra', cursive;
}

.testimonial p {
    font-size: 1.1rem;
    font-family: 'Signika Negative', sans-serif;
    color: #7B2869;
}

@media only screen and (max-width:992px) {
    .hero_content h1 {
        font-size: 2.7rem;
    }
    .heading3 span {
        margin: 0.2rem 0.2rem 0 0;
    }
    .hero_img-box {
        display: none;
    }

    .hero_video-box {
        display: block;
    }

    /* .heading3{
        margin-bottom: 0.2rem;
    }
    */

    .services_title,
    .featured_tour-title,
    .gallery_title,
    .testimonial_title,
    .experience_content h2 {
        font-size: 2rem;
    }

    .experience_img {
        margin-top: 2rem;
    }
}

@media only screen and (max-width:576px) {
    .hero_content h1 {
        font-size: 1.8rem;
    }
    .heading3 span {
        margin: 0.2rem 0.2rem 0 0;
    }
    .services_title,
    .featured_tour-title,
    .gallery_title,
    .testimonial_title,
    .experience_content h2 {
        font-size: 1.5rem;
    }
   
}